{% extends "base.html" %}
{% block title %}Historia Zamówień{% endblock %}
{% block content %}
    <h1 class="mb-4">Historia Twoich Zamówień</h1>
    <div class="card shadow-sm">
        <div class="card-body">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Data</th>
                        <th>Status</th>
                        <th>Produkty</th>
                        <th class="text-end">Akcje</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>#{{ order.id }}</td>
                        <td>{{ order.order_date|localdatetime }}</td>
                        <td>
                            <span class="badge {% if order.status == 'Oczekuje' %} bg-warning text-dark {% elif order.status == 'Zrealizowane' %} bg-success {% endif %}">{{ order.status }}</span>
                        </td>
                        <td>
                            <ul class="list-unstyled mb-0">
                                {% for item in order.products %}
                                <li>{{ item.product.name }} ({{ item.quantity }} szt.)</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td class="text-end">
                            {% if order.status == 'Oczekuje' %}
                                <a href="{{ url_for('team_member.edit_my_order', order_id=order.id) }}" class="btn btn-sm btn-primary">Edytuj</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% else %}
                    <tr><td colspan="5" class="text-center">Brak historii zamówień.</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}